h1,h2,h3{text-align: center;
    font-family: 'Monoton', cursive;
    font-weight: 550;
    text-decoration: overline;
}
h1{font-size: 60px;
}
h2{font-size: 50px;
}
h3{font-size: 40px;
}

body{background-image:linear-gradient(180deg,papayawhip 50%,#16b8f3,#4fa4a7);
}
.nav{text-align: center;
    height: 300px;
}
.containerNav{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
}
ul{padding: 5px;
}

li{font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0px 3px;
    border: 1px solid lawngreen;
    border-radius: 10px;
    background-color: antiquewhite;}



#section-one {
    background-color: #16b8f3;
   
}

.posterContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.weekContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.week1 {
    background-color: skyblue;
    
    height: 300px;
    flex: 1 1 auto;

}

.week2 {

    background-color: lightgreen;
    
    height: 300px;
    flex: 2 1 auto;
}

.week3 {

    background-color: darkmagenta;
    
    height: 300px;
    flex: 1 1 auto;

}
.week4 {

    background-color: darkmagenta;
    
    height: 400px;
    flex: 1 1 auto;

}
.week5 {

    background-color: darkmagenta;
    
    height: 400px;
    flex: 1 1 auto;

}
#poster1 {
    background-color: skyblue;
    
    height: 500px;
    flex: 1 1 auto;

}

#poster2 {

    background-color: lightgreen;
    
    height: 500px;
    flex: 1 1 auto;
}

#poster4 {

    background-color: darkmagenta;
    
    height: 500px;
    flex: 1 1 auto;

}


#section-two {
    background-color: #FFC000;
}


#section-three {
    background-color: #C00000;
}

#typethumb{width: 250px;
}

#poster3{
    width: 350px;
}
#flexweb{
    width: 400px;
}

#section-four {
    background-color: darkslateblue;
    
}


.media-container{display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}
.media-container .mediacontent,.mediacontent2,.mediacontent3{
    flex: 1;
    padding: 10px;
}
.mediacontent{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C00000;
    font-size: 20px;
}
.mediacontent2{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightcoral;
    font-size: 20px;
    
}
.mediacontent3{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFC000;
    font-size: 20px;
    
}
#type1,#type2,#type3,#type4,
#type5,#type6,#type7,#type8{width: 400px;
}
.menu{padding-top: 20px;
    padding-bottom: 20px;
    color: #FFC000;
}
button{background-color: #16b8f3;
    border: 2px dotted #FFC000;
    border-radius: 5px;
    font-family:'Monoton', cursive;
    font-size: large;
    padding: 20px;
    margin: 2px;
    transition-duration: .4s;
    }
button:hover{width: auto;
    background-color: lightblue;
    }
    button:active{background-color: lightcoral;
    box-shadow: 0 5px 0 5px lightcoral;
    transform: translate(4px);
    }

.push{margin-left: auto;}
.pull{margin-right: auto;}

/*typography*/
/*typography{width: 400px;
border: #16b8f3;}
